<div class="row">
	<div class="col-xs-12" id="welcome">
		<h1>Welcome to My Classics Library</h1>

		<h4>A place for classic literature fans to find all of their favorites.</h4>

		<%= link_to "Start Browsing Authors", authors_path, class: "btn btn-primary" %>
	</div>
</div>
