<div class="container">
	<div class="row heading">
		<span class="header">All Books</span>
	</div>

	<div class="row">  
	<% @books.each do |book| %>
		<div class="col-sm-3">
			<div class="book well">
				<strong><%= book.title %></strong><br>
				by 
				<%= link_to(author_path(book.author)) do %>
					<%= book.author.full_name %>
				<% end %>
			</div>
		</div>
	<% end %>
	</div>

</div>