// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well.author, .well.book {
	padding: 10px;
	text-align: center;
}

.author-photo {
	height: 200px;
	max-width: 180px;
	border-radius: 5px;
	margin: 20px auto;
}