// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-cover {
	text-align: center;
}

.well.book {
	padding: 10px;
	text-align: center;
	height: 350px;
}

.book-details {
	margin-top: 20px;
}

.book-title {
	margin-bottom: 5px; 
}

.book-photo-lrg {
	max-height: 300px;
	max-width: 250px;
	border-radius: 5px;
	margin: 20px auto;
}

.return-btn {
	float: right;
	margin-top: 5px;
	margin-right: 20px;
}

.edit-heading {
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
}

.synopsis {
	margin-top: 20px;
}
