// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-title {
	margin-bottom: 5px; 
}

.return-btn {
	float: right;
	margin-top: 5px;
	margin-right: 20px;
}

.edit-heading {
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
}